@assign(title = title ?? 'RPG')
@assign(description = description ?? 'RPG game')

<title inertia>{{ `${title} - RPG` }}</title>
<meta name="title" content="{{ `${title} - RPG` }}">
<meta name="description" content="{{ description }}">
