<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">

  @!component('edge/components/meta', {
    title: meta?.title,
    description: meta?.description,
  })

  @inertiaHead()
  @viteReactRefresh()
  @vite(['src/frontend/app/app.tsx', `src/frontend/pages/${page.component}.tsx`])
</head>

<body>
  @inertia()
</body>

</html>
