@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('../assets/fonts/creato-display/CreatoDisplay-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gamer';
  src: url('../assets/fonts/gamer/gamer.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'CreatoDisplay', sans-serif;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
