@assign(title = title ?? 'OhMy')
@assign(description = description ?? 'RPG game')

<title>{{ `${title} - RPG` }}</title>
<meta name="title" content="{{ `${title} - RPG` }}">
<meta name="description" content="{{ description }}">
